<nav>
    <ul class="navigation">
        <li><a href="/" class="active">Home</a></li>
        <li><a href="/inventory/classification/Custom">Custom</a></li>
        <li><a href="/inventory/classification/Sedan">Sedan</a></li>
        <li><a href="/inventory/classification/SUV">SUV</a></li>
        <li><a href="/inventory/classification/Truck">Truck</a></li>
    </ul>
</nav>
